#box{
    width:250px;
    height:250px;
    background-color:palevioletred;
    font-size:13em;
    text-align:center;
    animation-name:colourchange;
    animation-duration:3s;


}
@keyframes slideleft{
    from{
        transform:translateX(500px)
    }
}
@keyframes slideright {
    to{
        transform: translateY(500%)
    }
}
@keyframes slideup {
    from {
        transform: translateY(300%)
    }
}
@keyframes rotate {
    from {
        transform:rotateX(360deg)
    }
}
@keyframes rotatearound {
    25%{
       transform:rotateZ(240deg)
    }
}

@keyframes grow{
    50%{transform:scale(2,2)}
}
@keyframes shrink {
    50% {
        transform: scale(.5,.5)
    }
}
@keyframes fade {
    50% {
        opacity:0
    }
}
@keyframes colourchange {
    0% {
        background-color: orangered
    }

    20% {
        background-color: black
    }

    40% {
        background-color: red
    }

    60% {
        background-color: yellow
    }

    80% {
        background-color: green
    }

    100% {
        background-color: blue
    }
}
@keyframes glow{
    50%()
}























}